<div class="card {% if tarea.completada %}opacity-50{% endif %}" style="width: 18rem;">
    <div class="card-body {{ tarea.get_prioridad_display_badge }}">

        <h5 class="card-title d-flex justify-content-between">
            <a href="{% url 'detalle_tarea' tarea.id %}" class="text-decoration-none">
                {{ tarea.titulo }}
            </a>

        </h5>

        <h6 class="card-subtitle mb-2 text-body-secondary">{{ tarea.categoria }} <span
                class="badge font-monospace {{ tarea.get_prioridad_display_badge_bg }}">
                {{ tarea.get_prioridad_display_name }}
            </span></h6>

        <p class="card-text">{{ tarea.descripcion }}</p>

        <h6 class="card-subtitle mb-2 text-body-secondary">
            <small>fecha creación: {{ tarea.fecha_creacion }}</small>
        </h6>

        <form method="post" action="{% url 'toggle_tarea' tarea.id %}" class="d-inline">
            {% csrf_token %}
            {% if tarea.completada %}
            <button class="btn" title="Marcar como pendiente">↩️</button>
            {% else %}
            <button class="btn btn-outline-success" title="Marcar como completada">✔️</button>
            {% endif %}
        </form>

        <button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#modalEliminarTarea{{ tarea.id }}">
            🗑️
        </button>

    </div>
</div>