<div class="card" style="width: 18rem;">
    <div class="card-body {{ tarea.get_prioridad_display_badge }}">
        
        <h5 class="card-title">
            <a href="{% url 'detalle_tarea' tarea.id %}" class="text-decoration-none">
                {{ tarea.titulo }}
            </a>
            <span class="badge font-monospace {{ tarea.get_prioridad_display_badge_bg }}">
                {{ tarea.get_prioridad_display_name }}
            </span>
        </h5>

        <h6 class="card-subtitle mb-2 text-body-secondary">{{ tarea.categoria }}</h6>

        <p class="card-text">{{ tarea.descripcion }}</p>

        <h6 class="card-subtitle mb-2 text-body-secondary">
            <small>fecha creación: {{ tarea.fecha_creacion }}</small>
        </h6>

        <a class="btn" href="#">✏️</a>

        <button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#modalEliminarTarea{{ tarea.id }}">
            🗑️
        </button>

    </div>
</div>
